<!-- Header home  -->
<header
        class="site-header site-header--menu-right dynamic-sticky-bg py-7 py-lg-0 site-header--absolute site-header--sticky">
  <div class="container">
    <nav class="navbar site-navbar offcanvas-active navbar-expand-lg  px-0 py-0">
      <!-- Brand Logo-->
      <div class="brand-logo">
        <a routerLink="/">
          <!-- light version logo (logo must be black)-->
          <img src="https://finestdevs.com/demos/jobcamp/image/logo-main-black.png" alt=""
               class="light-version-logo default-logo">
          <!-- Dark version logo (logo must be White)-->
          <img src="https://finestdevs.com/demos/jobcamp/image/logo-main-white.png" alt="" class="dark-version-logo">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="mobile-menu">

        <div class="navbar-nav-wrapper" *ngIf="authenticationService.currentUserSubject | async as profile">
         <!--          company list-->
          <ul class="navbar-nav main-menu" *ngIf="profile.roles[0].authority === 'COMPANY'">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/">Trang chủ</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown2" href="#features" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doanh nghiệp <i
                class="fa-solid fa-angle-down" style="font-size: 15px"></i></a>
              <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown2">
                <li class="drop-menu-item">
                  <a routerLink="/company/company/list">
                    Danh sách công ty
                  </a>
                </li>

                <li class="drop-menu-item">
                  <a routerLink="/company/company/postedApplicant">
                    Danh sách ứng viên
                  </a>
                </li>
                <li class="drop-menu-item">
                  <a routerLink="/company/company/update">
                    Chỉnh sửa thông tin
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown3" href="#features" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tuyển dụng<i
                class="fa-solid fa-angle-down" style="font-size: 15px"></i></a>
              <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown2">
                <li class="drop-menu-item">
                  <a routerLink="/company/recruitment/list">
                    Danh sách tin tuyển dụng
                  </a>
                </li>
                <li class="drop-menu-item">
                  <a routerLink="/company/recruitment/our-list">
                    Danh sách tin tuyển dụng của bạn
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <!--          admin list-->
          <ul class="navbar-nav main-menu" *ngIf="profile.roles[0].authority === 'ADMIN'">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/">Trang chủ admin</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown4" href="#features" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doanh nghiệp <i
                class="fa-solid fa-angle-down" style="font-size: 15px"></i></a>
              <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown2">
                <li class="drop-menu-item">
                  <a routerLink="/admin/company/main">
                    Danh sách đang hoạt động
                  </a>
                </li>
                <li class="drop-menu-item">
                  <a routerLink="/admin/company/pending">
                    Danh sách chờ duyệt
                  </a>
                </li>
                <li class="drop-menu-item">
                  <a routerLink="/admin/company/block">
                    Danh sách bị khóa
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown5" href="#features" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tuyển dụng<i
                class="fa-solid fa-angle-down" style="font-size: 15px"></i></a>
              <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown2">
                <li class="drop-menu-item">
                  <a routerLink="/admin/recruitment/list-job">
                    Danh sách tin tuyển dụng
                  </a>
                </li>
                <li class="drop-menu-item">
                  <a routerLink="/admin/recruitment/block">
                    Danh sách khóa
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <!--          user list-->
          <ul class="navbar-nav main-menu" *ngIf="profile.roles[0].authority === 'USER'">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/">Trang chủ uuu</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown6" href="#features" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Công ty <i
                class="fa-solid fa-angle-down" style="font-size: 15px"></i></a>
              <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown2">
                <li class="drop-menu-item">
                  <a routerLink="/company/main">
                    Danh sách công ty
                  </a>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown7" href="#features" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Việc làm<i
                class="fa-solid fa-angle-down" style="font-size: 15px"></i></a>
              <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown2">
                <li class="drop-menu-item">
                  <a routerLink="/recruitment">
                    Tìm việc làm theo bảng
                  </a>
                </li>
                <li class="drop-menu-item">
                  <a routerLink="/company/posterJob">
                    Việc làm đã ứng tuyển
                  </a>
                </li>
              </ul>
            </li>
          </ul>

        </div>

        <button class="d-block d-lg-none offcanvas-btn-close focus-reset" type="button" data-toggle="collapse"
                data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="true"
                aria-label="Toggle navigation">
          <i class="gr-cross-icon"></i>
        </button>
      </div>
      <!--          guest list-->
      <div class="collapse navbar-collapse" id="mobile-menu2" *ngIf="(authenticationService.currentUserSubject | async) === null">
        <div class="navbar-nav-wrapper">
        <ul class="navbar-nav main-menu">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/guest/company">Doanh nghiệp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/guest/recruitment">Tin tuyển dụng</a>
          </li>
        </ul>
      </div>
      <button class="d-block d-lg-none offcanvas-btn-close focus-reset" type="button" data-toggle="collapse"
              data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="true"
              aria-label="Toggle navigation">
        <i class="gr-cross-icon"></i>
      </button>
        <div class="header-btns header-btn-devider ml-auto pr-2 ml-lg-6 d-none d-xs-flex">
          <a class="btn btn-transparent text-uppercase font-size-3 heading-default-color focus-reset" href="javacript:"
             data-toggle="modal" data-target="#login">
            Đăng nhập
          </a>

          <div class="dropdown">
            <button class="btn dropdown-toggle" data-toggle="dropdown" type="button" id="signup" data-bs-toggle="dropdown"
                    aria-expanded="false">
              ĐĂNG KÝ
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
              <li>
                <a class="btn btn-transparent text-uppercase font-size-3 heading-default-color focus-reset"
                   href="javacript:" data-toggle="modal" data-target="#signupForUser">
                  NGƯỜI TÌM VIỆC
                </a>
              </li>
              <li>
                <a class="btn btn-transparent text-uppercase font-size-3 heading-default-color focus-reset"
                   href="javacript:" data-toggle="modal" data-target="#signupForCompany">
                  DOANH NGHIỆP
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>


<!--      </div>-->
      <div class="dropdown show-gr-dropdown py-5" *ngIf="(authenticationService.currentUserSubject | async) !== null">
        <a class="proile media ml-7 flex-y-center" href="#" role="button" id="dropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="circle-40">
            <img src="https://finestdevs.com/demos/jobcamp/./image/header-profile.png" alt="">
          </div>
          <i class="fas fa-chevron-down heading-default-color ml-6"></i>
        </a>
        <div class="dropdown-menu gr-menu-dropdown dropdown-right border-0 border-width-2 py-2 w-auto bg-default"
             aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item py-2 text-red font-size-3 font-weight-semibold line-height-1p2 text-uppercase"
             (click)="logout()">Đăng xuất</a>
        </div>
      </div>
      <!-- Mobile Menu Hamburger-->
      <button class="navbar-toggler btn-close-off-canvas  hamburger-icon border-0" type="button" data-toggle="collapse"
              data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="hamburger hamburger--squeeze js-hamburger">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
            </span>
      </button>
      <!--/.Mobile Menu Hamburger Ends-->
    </nav>
  </div>
</header>
<!-- Login Modal -->
<div class="modal fade form-modal" id="login" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog max-width-px-840 position-relative">
    <button #closeModal type="button" class="circle-32 btn-reset bg-white pos-abs-tr mt-md-n6 mr-lg-n6 focus-reset z-index-supper"
            data-dismiss="modal"><i class="fas fa-times"></i></button>
    <div class="login-modal-main bg-white rounded-8 overflow-hidden">
      <div class="row no-gutters">
        <div class="col-lg-5 col-md-6">
          <div class="pt-10 pb-6 pl-11 pr-12 bg-black-2 h-100 d-flex flex-column dark-mode-texts">
            <div class="pb-9">
              <h3 class="font-size-8 text-white line-height-reset pb-4 line-height-1p4">
               Chào mừng bạn đã trở lại!
              </h3>
              <p class="mb-0 font-size-4 text-white">Đăng nhập để tiếp tục và xem các công việc mới.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="bg-white-2 h-100 px-11 pt-11 pb-7">

            <div class="or-devider">
              <span class="font-size-3 line-height-reset "><h4>Đăng nhập</h4></span>
            </div>
            <!--            Form Login -->
            <form [formGroup]="loginForm" (ngSubmit)="checkStatusByEmailLogin()">
              <div class="form-group">
                <label for="email"
                       class="font-size-4 text-black-2 font-weight-semibold line-height-reset">E-mail</label>
                <input formControlName="email" type="email" class="form-control"
                       placeholder="example@gmail.com"
                       id="email">
                <div *ngIf="!emailLogin.valid && emailLogin.touched">
                  <div [hidden]="!emailLogin.errors.required">
                    <p style="color: red">Vui lòng nhập địa chỉ email</p>
                  </div>
                  <div [hidden]="!emailLogin.errors.email">
                    <p style="color: red">Email sai định dạng</p>
                  </div>
                </div>

              </div>
              <div class="form-group">
                <label for="password"
                       class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Mật
                  khẩu</label>
                <div class="position-relative">
                  <input formControlName="password" type="password" class="form-control" id="password"
                         placeholder="Nhập mật khẩu">
                  <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2"
                     data-show-pass="password"></a>
                  <div *ngIf="!passwordLogin.valid && passwordLogin.touched">
                    <div [hidden]="!passwordLogin.errors.required">
                      <p style="color: red">Vui lòng nhập mật khẩu</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group d-flex flex-wrap justify-content-between">
                <label for="terms-check" class="gr-check-input d-flex  mr-3">
                  <input class="d-none" type="checkbox" id="terms-check">
                  <span class="checkbox mr-5"></span>
                  <span class="font-size-3 mb-0 line-height-reset mb-1 d-block">Nhớ mật khẩu</span>
                </label>
                <a href="" class="font-size-3 text-dodger line-height-reset">Quên mật khẩu?</a>
              </div>
              <div class="form-group mb-8">
                <button data-dismiss="login"
                        class="btn btn-primary btn-medium w-100 rounded-5 text-uppercase"
                        [disabled]="loginForm.invalid">Đăng nhập
                </button>
              </div>
              <p class="font-size-4 text-center heading-default-color">Bạn chưa có tài khoản? <a href=""
                                                                                                 class="text-primary">Tạo
                tài khoản</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sign Up Modal For User-->
<div class="modal fade form-modal" id="signupForUser" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog max-width-px-840 position-relative">
    <button type="button" class="circle-32 btn-reset bg-white pos-abs-tr mt-n6 mr-lg-n6 focus-reset shadow-10"
            data-dismiss="modal"><i class="fas fa-times"></i></button>
    <div class="login-modal-main bg-white rounded-8 overflow-hidden">
      <div class="row no-gutters">
        <div class="col-lg-5 col-md-6">
          <div class="pt-10 pb-6 pl-11 pr-12 bg-black-2 h-100 d-flex flex-column dark-mode-texts">
            <div class="pb-9">
              <h3 class="font-size-8 text-white line-height-reset pb-4 line-height-1p4">
                Tạo tài khoản miễn phí ngay hôm nay
              </h3>
              <p class="mb-0 font-size-4 text-white">Đăng nhập để tiếp tục và xem các công việc mới.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="bg-white-2 h-100 px-11 pt-11 pb-7">

            <div class="or-devider">
              <span  class="font-size-3 line-height-reset"><h4 style="color: green">Tài khoản</h4></span>
            </div>
            <form [formGroup]="registerUserForm" (ngSubmit)="registerUser()" novalidate>
              <div class="form-group">
                <label class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Họ và tên</label>
                <input formControlName="name" type="text" class="form-control" placeholder="Nhập tên">
              </div>
              <div *ngIf="!nameUser.valid && nameUser.touched">
                <div [hidden]="!nameUser.errors.required">
                  <p style="color: red">Vui lòng nhập tên của bạn</p>
                </div>
              </div>
              <div class="form-group">
                <label class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Số điện thoại</label>
                <input formControlName="phoneNumber" type="text" class="form-control" placeholder="Nhập số điện thoại +84...">
              </div>
              <div *ngIf="!phoneNumberUser.valid && phoneNumberUser.touched">
                <div [hidden]="!phoneNumberUser.errors.required">
                  <p style="color: red">Vui lòng nhập số điện thoại của bạn</p>
                </div>
                <div [hidden]="!phoneNumberUser.errors.pattern">
                  <p style="color: red">Nhập số điện thoại không đúng định dạng </p>
                </div>
              </div>
              <div class="form-group">
                <label class="font-size-4 text-black-2 font-weight-semibold line-height-reset">E-mail</label>
                <input formControlName="email" type="email" class="form-control" placeholder="Nhập email">
              </div>
              <div *ngIf="!emailUser.valid && emailUser.touched">
                <div [hidden]="!emailUser.errors.required">
                  <p style="color: red">Vui lòng nhập email của bạn</p>
                </div>
                <div [hidden]="!emailUser.errors.email">
                  <p style="color: red"> Email không đúng định dạng</p>
                </div>
              </div>
              <div class="form-group">
                <label class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Mật khẩu</label>
                <div class="position-relative">
                  <input formControlName="password" type="password" class="form-control" placeholder="Nhập mật khẩu">
                  <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2" data-show-pass="password2"></a>
                </div>
              </div>
              <div *ngIf="!passwordUser.valid && passwordUser.touched">
                <div [hidden]="!passwordUser.errors.required">
                  <p style="color: red">Vui lòng nhập mật khẩu của bạn</p>
                </div>
                <div [hidden]="!passwordUser.errors.minlength">
                  <p style="color: red"> Mật khẩu phải có ít nhất 6 ký tự</p>
                </div>
              </div>
              <div class="form-group">
                <label for="password234" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Nhập lại mật khẩu</label>
                <div class="position-relative">
                  <input formControlName="confirmPassword" type="password" class="form-control" id="password234" placeholder="Nhập lại mật khẩu" pattern="{{passwordUser.value}}">
                  <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2" data-show-pass="password234"></a>
                </div>
              </div>
              <div *ngIf="!confirmPasswordUser.valid && confirmPasswordUser.touched">
                <div [hidden]="!confirmPasswordUser.errors.required">
                  <p style="color: red">Vui lòng nhập lại mật khẩu của bạn</p>
                </div>
                <div [hidden]="!confirmPasswordUser.errors?.pattern">
                  <p style="color: red"> Mật khẩu nhập lại không khớp</p>
                </div>
              </div>
              <div class="form-group d-flex flex-wrap justify-content-between mb-1">
                <a href="" class="font-size-3 text-dodger line-height-reset">Quên mật khẩu</a>
              </div>
              <div class="form-group mb-8">
                <button class="btn btn-primary btn-medium w-100 rounded-5 text-uppercase" [disabled]="registerUserForm.invalid">Đăng ký</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sign Up Modal For Company-->
<div class="modal fade form-modal" id="signupForCompany" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog max-width-px-840 position-relative">
    <button type="button" class="circle-32 btn-reset bg-white pos-abs-tr mt-n6 mr-lg-n6 focus-reset shadow-10"
            data-dismiss="modal"><i class="fas fa-times"></i></button>
    <div class="login-modal-main bg-white rounded-8 overflow-hidden">
      <div class="row no-gutters">
        <div class="col-lg-5 col-md-6">
          <div class="pt-10 pb-6 pl-11 pr-12 bg-black-2 h-100 d-flex flex-column dark-mode-texts">
            <div class="pb-9">
              <h3 class="font-size-8 text-white line-height-reset pb-4 line-height-1p4">
                Tạo tài khoản miễn phí ngay hôm nay
              </h3>
              <p class="mb-0 font-size-4 text-white">Đăng nhập để tiếp tục và xem các công việc mới.</p>
            </div>
            <div class="border-top border-default-color-2 mt-auto">
              <div class="d-flex mx-n9 pt-6 flex-xs-row flex-column">
                <div class="pt-5 px-9">
                  <h3 class="font-size-7 text-white">
                    295
                  </h3>
                  <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">New jobs
                    posted today</p>
                </div>
                <div class="pt-5 px-9">
                  <h3 class="font-size-7 text-white">
                    14
                  </h3>
                  <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">Công ty vừa đăng ký</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="bg-white-2 h-100 px-11 pt-11 pb-7">
            <div class="or-devider">
              <span class="font-size-3 line-height-reset"><h4 style="color: green">Tài khoản</h4></span>
            </div>
            <form [formGroup]="registerCompanyForm" (ngSubmit)="register()" novalidate>
              <div class="form-group">
                <label for="email5"
                       class="font-size-4 text-black-2 font-weight-semibold line-height-reset">E-mail</label>
                <input formControlName="email" type="email" class="form-control"
                       placeholder="Nhập email" id="email5">
              </div>
              <div *ngIf="!email.valid && email.touched">
                <div [hidden]="!email.errors.required">
                  <p style="color: red">Vui lòng nhập email doanh nghiệp bạn</p>
                </div>
                <div [hidden]="!email.errors?.email">
                  <p style="color: red"> Email không đúng định dạng</p>
                </div>
              </div>
              <div class="form-group">
                <label for="password5"
                       class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Mật
                  khẩu</label>
                <div class="position-relative">
                  <input formControlName="password" type="password" class="form-control"
                         id="password5"
                         placeholder="Nhập mật khẩu">
                  <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2"
                     data-show-pass="password2"></a>
                </div>
              </div>
              <div *ngIf="!password.valid && password.touched">
                <div [hidden]="!password.errors.required">
                  <p style="color: red">Vui lòng nhập mật khẩu</p>
                </div>
                <div [hidden]="!password.errors.minlength">
                  <p style="color: red"> Mật khẩu phải có ít nhất 6 ký tự</p>
                </div>
              </div>
              <div class="form-group">
                <label for="password231"
                       class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Nhập
                  lại mật khẩu</label>
                <div class="position-relative">
                  <input type="password" class="form-control" id="password231"
                         pattern="{{password.value}}" placeholder="Nhập lại mật khẩu"
                         formControlName="confirmPassword">
                  <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2"
                     data-show-pass="password23"></a>
                </div>
              </div>
              <div *ngIf="!confirmPassword.valid && confirmPassword.touched">
                <div [hidden]="!confirmPassword.errors.required">
                  <p style="color: red">Vui lòng nhập nhập mật khẩu</p>
                </div>
                <div [hidden]="!confirmPassword.errors.pattern">
                  <p style="color: red"> Mật khẩu nhập lại không khớp</p>
                </div>
              </div>
              <div class="or-devider">
                <span class="font-size-3 line-height-reset"><h4 style="color: green">Thông tin doanh nghiệp</h4></span>
              </div>
              <div class="form-group">
                <label for="name"
                       class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Tên doanh
                  nghiệp</label>
                <input formControlName="name" type="text" class="form-control" placeholder="Nhập tên"
                       id="name">
              </div>
              <div *ngIf="!name.valid && name.touched">
                <div [hidden]="!name?.errors?.required">
                  <p style="color: red">Vui lòng nhập tên doanh nghiệp bạn</p>
                </div>
                <div [hidden]="!name.errors.minlength">
                  <p style="color: red"> Mật khẩu phải có ít nhất 3 ký tự</p>
                </div>
                <div [hidden]="!name.errors.maxLength">
                  <p style="color: red"> Mật khẩu phải có tối đa 50 ký tự</p>
                </div>
              </div>
              <div class="form-group">
                <p for="avatar" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Ảnh đại diện</p>
                <input formControlName="avatar" type="file" placeholder="Nhập ảnh đại diện" id="avatar"
                       (change)="handleChangeImage($event)">
              </div>
              <div class="form-group">
                <label for="address"
                       class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Địa chỉ</label>
                <select formControlName="address" id="address" class="form-control">
                  <option value="-1" selected="selected">-Chọn địa chỉ-</option>
                  <option *ngFor="let c of city">{{c.name}}</option>
                </select>
              </div>
              <div *ngIf="!address.valid && address.touched">
                <div [hidden]="!address.errors.required">
                  <p style="color: red">Vui lòng nhập địa chỉ doanh nghiệp bạn</p>
                </div>
              </div>
              <div class="form-group">
                <label for="phoneNumber"
                       class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Số điện
                  thoại</label>
                <input formControlName="phoneNumber" type="text" class="form-control"
                       placeholder="Nhập số điện thoại"
                       id="phoneNumber">
              </div>
              <div *ngIf="!phoneNumber.valid && phoneNumber.touched">
                <div [hidden]="!phoneNumber.errors?.required">
                  <p style="color: red">Vui lòng nhập số điện thoại doanh nghiệp bạn</p>
                </div>
                <div [hidden]="!phoneNumber.errors.pattern">
                  <p style="color: red">Nhập số điện thoại không đúng định dạng </p>
                </div>
              </div>
              <div class="form-group">
                <label for="introduction"
                       class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Giới
                  thiệu doanh nghiệp</label>
                <input formControlName="introduction" type="text" class="form-control"
                       placeholder="Nhập thông tin"
                       id="introduction">
              </div>
              <div *ngIf="!introduction.valid && introduction?.touched">
                <div [hidden]="!introduction.errors.required">
                  <p style="color: red">Vui lòng nhập giới thiệu doanh nghiệp bạn</p>
                </div>
              </div>
              <div class="form-group d-flex flex-wrap justify-content-between mb-1">
                <label for="terms-check21" class="gr-check-input d-flex  mr-3">
                  <input class="d-none" type="checkbox" id="terms-check21">
                </label>
                <a href="" class="font-size-3 text-dodger line-height-reset">Quên mật khẩu?</a>
              </div>
              <div class="form-group mb-8">
                <button class="btn btn-primary btn-medium w-100 rounded-5 text-uppercase"
                        [disabled]="registerCompanyForm.invalid">Đăng ký
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
