
<!-- Header home  -->
<header *ngIf="checkRole" class="site-header site-header--menu-right dynamic-sticky-bg py-7 py-lg-0 site-header--absolute site-header--sticky">
  <div class="container">
    <nav class="navbar site-navbar offcanvas-active navbar-expand-lg  px-0 py-0">
      <!-- Brand Logo-->
      <div class="brand-logo">
        <a routerLink="/home">
          <!-- light version logo (logo must be black)-->
          <img src="https://finestdevs.com/demos/jobcamp/image/logo-main-black.png" alt="" class="light-version-logo default-logo">
          <!-- Dark version logo (logo must be White)-->
          <img src="https://finestdevs.com/demos/jobcamp/image/logo-main-white.png" alt="" class="dark-version-logo">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="mobile-menu">
        <div class="navbar-nav-wrapper">
          <ul class="navbar-nav main-menu">
            <!--                            <li class="nav-item dropdown active">-->
            <!--                                <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown" href="index.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>-->
            <!--                            </li>-->

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/home">Trang chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/guest/company">Doanh nghiệp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/guest/recruitment">Tin tuyển dụng</a>
            </li>


          </ul>
        </div>
        <button class="d-block d-lg-none offcanvas-btn-close focus-reset" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="true" aria-label="Toggle navigation">
          <i class="gr-cross-icon"></i>
        </button>
      </div>
      <div class="header-btns header-btn-devider ml-auto pr-2 ml-lg-6 d-none d-xs-flex">
        <a class="btn btn-transparent text-uppercase font-size-3 heading-default-color focus-reset" href="javacript:" data-toggle="modal" data-target="#login">
          Đăng nhập
        </a>

        <div class="dropdown">
          <button class="btn dropdown-toggle" data-toggle="dropdown" type="button" id="signup" data-bs-toggle="dropdown" aria-expanded="false">
            ĐĂNG KÝ
          </button>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
            <li>
              <a class="btn btn-transparent text-uppercase font-size-3 heading-default-color focus-reset" href="javacript:" data-toggle="modal" data-target="#signupForUser">
                NGƯỜI TÌM VIỆC
              </a>
            </li>
            <li>
              <a class="btn btn-transparent text-uppercase font-size-3 heading-default-color focus-reset" href="javacript:" data-toggle="modal" data-target="#signupForCompany">
                DOANH NGHIỆP
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Mobile Menu Hamburger-->
      <button class="navbar-toggler btn-close-off-canvas  hamburger-icon border-0" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <i class="icon icon-simple-remove icon-close"></i> -->
        <span class="hamburger hamburger--squeeze js-hamburger">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
            </span>
      </button>
      <!--/.Mobile Menu Hamburger Ends-->
    </nav>
  </div>
</header>
<!-- Header Company -->
<header *ngIf="checkRoleCompany" class="site-header site-header--menu-right bg-default position-fixed py-7 py-xs-0 site-header--absolute">
  <div class="container-fluid-fluid px-10">
    <nav class="navbar site-navbar offcanvas-active navbar-expand-lg  px-0 py-0">
      <!-- Brand Logo-->
      <div class="brand-logo">
        <a href="./index.html">
          <!-- light version logo (logo must be black)-->
          <img src="https://finestdevs.com/demos/jobcamp/image/logo-main-black.png" alt="" class="light-version-logo default-logo">
          <!-- Dark version logo (logo must be White)-->
          <img src="https://finestdevs.com/demos/jobcamp/image/logo-main-white.png" alt="" class="dark-version-logo">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="mobile-menu">
        <div class="navbar-nav-wrapper">
          <ul class="navbar-nav main-menu">
            <!--                            <li class="nav-item dropdown active">-->
            <!--                                <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown" href="index.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>-->
            <!--                            </li>-->

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/home">Trang chủ</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown2" href="#features" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doanh nghiệp <i class="fa-solid fa-angle-down" style="font-size: 15px"></i></a>
              <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown2">
                <li class="drop-menu-item">
                  <a routerLink="/company/company/main">
                    Danh sách công ty
                  </a>
                </li>
                <li class="drop-menu-item">
                  <a routerLink="/company/company/posterJob">
                    Danh sách tin tuyển dụng
                  </a>
                </li>
                <li class="drop-menu-item">
                  <a routerLink="/company/company/posterJob">
                    Danh sách khóa
                  </a>
                </li>
                <li class="drop-menu-item">
                  <a routerLink="/company/company/postedApplicant">
                    Danh sách ứng viên
                  </a>
                </li>
                <li class="drop-menu-item">
                  <a routerLink="/company/company/update">
                    Chỉnh sửa thông tin
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown2" href="#features" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Việc làm<i class="fa-solid fa-angle-down" style="font-size: 15px"></i></a>
              <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown2">
                <li class="drop-menu-item">
                  <a routerLink="/recruitment">
                    Danh sách tin tuyển dụng
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <button class="d-block d-lg-none offcanvas-btn-close focus-reset" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="true" aria-label="Toggle navigation">
          <i class="gr-cross-icon"></i>
        </button>
      </div>
      <div class="header-btn-devider ml-auto ml-lg-5 pl-2 d-none d-xs-flex align-items-center">
        <div>
<!--          <a href="#" class="px-3 ml-7 font-size-7 notification-block flex-y-center position-relative">-->
<!--            <i class="fas fa-bell heading-default-color"></i>-->
<!--            <span class="font-size-3 count font-weight-semibold text-white bg-primary circle-24 border border-width-3 border border-white">3</span>-->
<!--          </a>-->
        </div>


        <div>


          <div class="dropdown show-gr-dropdown py-5">
            <a class="proile media ml-7 flex-y-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="circle-40">
                <img src="https://finestdevs.com/demos/jobcamp/./image/header-profile.png" alt="">
              </div>
              <i class="fas fa-chevron-down heading-default-color ml-6"></i>
            </a>
            <div class="dropdown-menu gr-menu-dropdown dropdown-right border-0 border-width-2 py-2 w-auto bg-default" aria-labelledby="dropdownMenuLink">
<!--              <a class="dropdown-item py-2 font-size-3 font-weight-semibold line-height-1p2 text-uppercase" href="dashboard-settings.html">Settings </a>-->
<!--              <a class="dropdown-item py-2 font-size-3 font-weight-semibold line-height-1p2 text-uppercase" href="candidate-profile-main.html">Edit Profile</a>-->
              <a class="dropdown-item py-2 text-red font-size-3 font-weight-semibold line-height-1p2 text-uppercase" (click)="logout()">Đăng xuất</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Mobile Menu Hamburger-->
      <button class="navbar-toggler btn-close-off-canvas  hamburger-icon border-0" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <i class="icon icon-simple-remove icon-close"></i> -->
        <span class="hamburger hamburger--squeeze js-hamburger">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
            </span>
      </button>
      <!--/.Mobile Menu Hamburger Ends-->
    </nav>
  </div>
</header>
<!-- Header Admin -->
<header *ngIf="checkRoleAdmin" class="site-header site-header--menu-right bg-default position-fixed py-7 py-xs-0 site-header--absolute">
  <div class="container-fluid-fluid px-10">
    <nav class="navbar site-navbar offcanvas-active navbar-expand-lg  px-0 py-0">
      <!-- Brand Logo-->
      <div class="brand-logo">
        <a href="./index.html">
          <!-- light version logo (logo must be black)-->
          <img src="https://finestdevs.com/demos/jobcamp/image/logo-main-black.png" alt="" class="light-version-logo default-logo">
          <!-- Dark version logo (logo must be White)-->
          <img src="https://finestdevs.com/demos/jobcamp/image/logo-main-white.png" alt="" class="dark-version-logo">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="mobile-menu">
        <div class="navbar-nav-wrapper">
          <ul class="navbar-nav main-menu">
            <!--                            <li class="nav-item dropdown active">-->
            <!--                                <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown" href="index.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>-->
            <!--                            </li>-->

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/home">Trang chủ</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown2" href="#features" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doanh nghiệp <i class="fa-solid fa-angle-down" style="font-size: 15px"></i></a>
              <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown2">
                <li class="drop-menu-item">
                  <a routerLink="/company/main">
                    Danh sách đang hoạt động
                  </a>
                </li>
                <li class="drop-menu-item">
                  <a routerLink="/company/posterJob">
                    Danh sách chờ duyệt
                  </a>
                </li>
                <li class="drop-menu-item">
                  <a routerLink="/company/postedApplicant">
                    Danh sách bị khóa
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown2" href="#features" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Việc làm<i class="fa-solid fa-angle-down" style="font-size: 15px"></i></a>
              <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown2">
                <li class="drop-menu-item">
                  <a routerLink="/recruitment">
                    Danh sách tin tuyển dụng
                  </a>
                </li>
                <li class="drop-menu-item">
                  <a routerLink="/company/posterJob">
                    Danh sách khóa
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <button class="d-block d-lg-none offcanvas-btn-close focus-reset" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="true" aria-label="Toggle navigation">
          <i class="gr-cross-icon"></i>
        </button>
      </div>
      <div class="header-btn-devider ml-auto ml-lg-5 pl-2 d-none d-xs-flex align-items-center">
        <div>
          <a href="#" class="px-3 ml-7 font-size-7 notification-block flex-y-center position-relative">
            <i class="fas fa-bell heading-default-color"></i>
            <span class="font-size-3 count font-weight-semibold text-white bg-primary circle-24 border border-width-3 border border-white">3</span>
          </a>
        </div>


        <div>


          <div class="dropdown show-gr-dropdown py-5">
            <a class="proile media ml-7 flex-y-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="circle-40">
                <img src="https://finestdevs.com/demos/jobcamp/./image/header-profile.png" alt="">
              </div>
              <i class="fas fa-chevron-down heading-default-color ml-6"></i>
            </a>
            <div class="dropdown-menu gr-menu-dropdown dropdown-right border-0 border-width-2 py-2 w-auto bg-default" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item py-2 font-size-3 font-weight-semibold line-height-1p2 text-uppercase" href="dashboard-settings.html">Settings </a>
              <a class="dropdown-item py-2 font-size-3 font-weight-semibold line-height-1p2 text-uppercase" href="candidate-profile-main.html">Edit Profile</a>
              <a class="dropdown-item py-2 text-red font-size-3 font-weight-semibold line-height-1p2 text-uppercase" (click)="logout()">Log Out</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Mobile Menu Hamburger-->
      <button class="navbar-toggler btn-close-off-canvas  hamburger-icon border-0" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <i class="icon icon-simple-remove icon-close"></i> -->
        <span class="hamburger hamburger--squeeze js-hamburger">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
            </span>
      </button>
      <!--/.Mobile Menu Hamburger Ends-->
    </nav>
  </div>
</header>
<!-- Header User -->
<header *ngIf="checkRoleUser" class="site-header site-header--menu-right bg-default position-fixed py-7 py-xs-0 site-header--absolute">
  <div class="container-fluid-fluid px-10">
    <nav class="navbar site-navbar offcanvas-active navbar-expand-lg  px-0 py-0">
      <!-- Brand Logo-->
      <div class="brand-logo">
        <a href="./index.html">
          <!-- light version logo (logo must be black)-->
          <img src="https://finestdevs.com/demos/jobcamp/image/logo-main-black.png" alt="" class="light-version-logo default-logo">
          <!-- Dark version logo (logo must be White)-->
          <img src="https://finestdevs.com/demos/jobcamp/image/logo-main-white.png" alt="" class="dark-version-logo">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="mobile-menu">
        <div class="navbar-nav-wrapper">
          <ul class="navbar-nav main-menu">
            <!--                            <li class="nav-item dropdown active">-->
            <!--                                <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown" href="index.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>-->
            <!--                            </li>-->

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/home">Trang chủ</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown2" href="#features" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Công ty <i class="fa-solid fa-angle-down" style="font-size: 15px"></i></a>
              <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown2">
                <li class="drop-menu-item">
                  <a routerLink="/company/main">
                    Danh sách công ty
                  </a>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown2" href="#features" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Việc làm<i class="fa-solid fa-angle-down" style="font-size: 15px"></i></a>
              <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown2">
                <li class="drop-menu-item">
                  <a routerLink="/recruitment">
                    Tìm việc làm theo bảng
                  </a>
                </li>
                <li class="drop-menu-item">
                  <a routerLink="/company/posterJob">
                    Việc làm đã ứng tuyển
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <button class="d-block d-lg-none offcanvas-btn-close focus-reset" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="true" aria-label="Toggle navigation">
          <i class="gr-cross-icon"></i>
        </button>
      </div>
      <div class="header-btn-devider ml-auto ml-lg-5 pl-2 d-none d-xs-flex align-items-center">
        <div>
          <a href="#" class="px-3 ml-7 font-size-7 notification-block flex-y-center position-relative">
            <i class="fas fa-bell heading-default-color"></i>
            <span class="font-size-3 count font-weight-semibold text-white bg-primary circle-24 border border-width-3 border border-white">3</span>
          </a>
        </div>


        <div>


          <div class="dropdown show-gr-dropdown py-5">
            <a class="proile media ml-7 flex-y-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="circle-40">
                <img src="https://finestdevs.com/demos/jobcamp/./image/header-profile.png" alt="">
              </div>
              <i class="fas fa-chevron-down heading-default-color ml-6"></i>
            </a>
            <div class="dropdown-menu gr-menu-dropdown dropdown-right border-0 border-width-2 py-2 w-auto bg-default" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item py-2 font-size-3 font-weight-semibold line-height-1p2 text-uppercase" href="dashboard-settings.html">Settings </a>
              <a class="dropdown-item py-2 font-size-3 font-weight-semibold line-height-1p2 text-uppercase" href="candidate-profile-main.html">Edit Profile</a>
              <a class="dropdown-item py-2 text-red font-size-3 font-weight-semibold line-height-1p2 text-uppercase" (click)="logout()">Log Out</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Mobile Menu Hamburger-->
      <button class="navbar-toggler btn-close-off-canvas  hamburger-icon border-0" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <i class="icon icon-simple-remove icon-close"></i> -->
        <span class="hamburger hamburger--squeeze js-hamburger">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
            </span>
      </button>
      <!--/.Mobile Menu Hamburger Ends-->
    </nav>
  </div>
</header>
<!-- Login Modal -->
<div class="modal fade form-modal" id="login" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog max-width-px-840 position-relative">
    <button type="button" class="circle-32 btn-reset bg-white pos-abs-tr mt-md-n6 mr-lg-n6 focus-reset z-index-supper" data-dismiss="modal"><i class="fas fa-times"></i></button>
    <div class="login-modal-main bg-white rounded-8 overflow-hidden">
      <div class="row no-gutters">
        <div class="col-lg-5 col-md-6">
          <div class="pt-10 pb-6 pl-11 pr-12 bg-black-2 h-100 d-flex flex-column dark-mode-texts">
            <div class="pb-9">
              <h3 class="font-size-8 text-white line-height-reset pb-4 line-height-1p4">
                Welcome Back
              </h3>
              <p class="mb-0 font-size-4 text-white">Log in to continue your account
                and explore new jobs.</p>
            </div>
            <div class="border-top border-default-color-2 mt-auto">
              <div class="d-flex mx-n9 pt-6 flex-xs-row flex-column">
                <div class="pt-5 px-9">
                  <h3 class="font-size-7 text-white">
                    295
                  </h3>
                  <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">New jobs
                    posted today</p>
                </div>
                <div class="pt-5 px-9">
                  <h3 class="font-size-7 text-white">
                    14
                  </h3>
                  <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">New companies
                    registered</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="bg-white-2 h-100 px-11 pt-11 pb-7">

            <div class="or-devider">
              <span class="font-size-3 line-height-reset "><h4>Đăng nhập</h4></span>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group">
                <label for="email" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">E-mail</label>
                <input formControlName="email" type="email" class="form-control" placeholder="example@gmail.com" id="email">
              </div>
              <div class="form-group">
                <label for="password" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Password</label>
                <div class="position-relative">
                  <input formControlName="password" type="password" class="form-control" id="password" placeholder="Enter password">
                  <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2" data-show-pass="password"></a>
                </div>
              </div>
              <div class="form-group d-flex flex-wrap justify-content-between">
                <label for="terms-check" class="gr-check-input d-flex  mr-3">
                  <input class="d-none" type="checkbox" id="terms-check">
                  <span class="checkbox mr-5"></span>
                  <span class="font-size-3 mb-0 line-height-reset mb-1 d-block">Remember password</span>
                </label>
                <a href="" class="font-size-3 text-dodger line-height-reset">Forget Password</a>
              </div>
              <div class="form-group mb-8">
                <button data-dismiss="login" class="btn btn-primary btn-medium w-100 rounded-5 text-uppercase">Log in </button>
              </div>
              <p class="font-size-4 text-center heading-default-color">Don’t have an account? <a href="" class="text-primary">Create a free account</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sign Up Modal For User-->
<div class="modal fade form-modal" id="signupForUser" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog max-width-px-840 position-relative">
    <button type="button" class="circle-32 btn-reset bg-white pos-abs-tr mt-n6 mr-lg-n6 focus-reset shadow-10" data-dismiss="modal"><i class="fas fa-times"></i></button>
    <div class="login-modal-main bg-white rounded-8 overflow-hidden">
      <div class="row no-gutters">
        <div class="col-lg-5 col-md-6">
          <div class="pt-10 pb-6 pl-11 pr-12 bg-black-2 h-100 d-flex flex-column dark-mode-texts">
            <div class="pb-9">
              <h3 class="font-size-8 text-white line-height-reset pb-4 line-height-1p4">
                Create a free account today
              </h3>
              <p class="mb-0 font-size-4 text-white">Create your account to continue
                and explore new jobs.</p>
            </div>
            <div class="border-top border-default-color-2 mt-auto">
              <div class="d-flex mx-n9 pt-6 flex-xs-row flex-column">
                <div class="pt-5 px-9">
                  <h3 class="font-size-7 text-white">
                    295
                  </h3>
                  <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">New jobs
                    posted today</p>
                </div>
                <div class="pt-5 px-9">
                  <h3 class="font-size-7 text-white">
                    14
                  </h3>
                  <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">New companies
                    registered</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="bg-white-2 h-100 px-11 pt-11 pb-7">
            <div class="row">
              <div class="col-4 col-xs-12">
                <a href="" class="font-size-4 font-weight-semibold position-relative text-white bg-allports h-px-48 flex-all-center w-100 px-6 rounded-5 mb-4"><i class="fab fa-linkedin pos-xs-abs-cl font-size-7 ml-xs-4"></i> <span class="d-none d-xs-block">Import from LinkedIn</span></a>
              </div>
              <div class="col-4 col-xs-12">
                <a href="" class="font-size-4 font-weight-semibold position-relative text-white bg-poppy h-px-48 flex-all-center w-100 px-6 rounded-5 mb-4"><i class="fab fa-google pos-xs-abs-cl font-size-7 ml-xs-4"></i> <span class="d-none d-xs-block">Import from Google</span></a>
              </div>
              <div class="col-4 col-xs-12">
                <a href="" class="font-size-4 font-weight-semibold position-relative text-white bg-marino h-px-48 flex-all-center w-100 px-6 rounded-5 mb-4"><i class="fab fa-facebook-square pos-xs-abs-cl font-size-7 ml-xs-4"></i> <span class="d-none d-xs-block">Import from Facebook</span></a>
              </div>
            </div>
            <div class="or-devider">
              <span class="font-size-3 line-height-reset">Or</span>
            </div>
            <form action="/">
              <div class="form-group">
                <label for="email2" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">E-mail</label>
                <input type="email" class="form-control" placeholder="example@gmail.com" id="email2">
              </div>
              <div class="form-group">
                <label for="password2" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Password</label>
                <div class="position-relative">
                  <input type="password" class="form-control" id="password2" placeholder="Enter password">
                  <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2" data-show-pass="password2"></a>
                </div>
              </div>
              <div class="form-group">
                <label for="password234" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Confirm Password</label>
                <div class="position-relative">
                  <input type="password" class="form-control" id="password234" placeholder="Enter password">
                  <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2" data-show-pass="password234"></a>
                </div>
              </div>
              <div class="form-group d-flex flex-wrap justify-content-between mb-1">
                <label for="terms-check2" class="gr-check-input d-flex  mr-3">
                  <input class="d-none" type="checkbox" id="terms-check2">
                  <span class="checkbox mr-5"></span>
                  <span class="font-size-3 mb-0 line-height-reset d-block">Agree to the <a href="" class="text-primary">Terms & Conditions</a></span>
                </label>
                <a href="" class="font-size-3 text-dodger line-height-reset">Forget Password</a>
              </div>
              <div class="form-group mb-8">
                <button class="btn btn-primary btn-medium w-100 rounded-5 text-uppercase">Sign Up </button>
              </div>
              <p class="font-size-4 text-center heading-default-color">Don’t have an account? <a href="" class="text-primary">Create a free account</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sign Up Modal For Company-->
<div class="modal fade form-modal" id="signupForCompany" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog max-width-px-840 position-relative">
    <button type="button" class="circle-32 btn-reset bg-white pos-abs-tr mt-n6 mr-lg-n6 focus-reset shadow-10" data-dismiss="modal"><i class="fas fa-times"></i></button>
    <div class="login-modal-main bg-white rounded-8 overflow-hidden">
      <div class="row no-gutters">
        <div class="col-lg-5 col-md-6">
          <div class="pt-10 pb-6 pl-11 pr-12 bg-black-2 h-100 d-flex flex-column dark-mode-texts">
            <div class="pb-9">
              <h3 class="font-size-8 text-white line-height-reset pb-4 line-height-1p4">
                Create a free account today
              </h3>
              <p class="mb-0 font-size-4 text-white">Create your account to continue
                and explore new jobs.</p>
            </div>
            <div class="border-top border-default-color-2 mt-auto">
              <div class="d-flex mx-n9 pt-6 flex-xs-row flex-column">
                <div class="pt-5 px-9">
                  <h3 class="font-size-7 text-white">
                    295
                  </h3>
                  <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">New jobs
                    posted today</p>
                </div>
                <div class="pt-5 px-9">
                  <h3 class="font-size-7 text-white">
                    14
                  </h3>
                  <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">New companies
                    registered</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="bg-white-2 h-100 px-11 pt-11 pb-7">
            <div class="or-devider">
              <span class="font-size-3 line-height-reset"><h4 style="color: green">Tài khoản</h4></span>
            </div>
            <form [formGroup]="companyForm" (ngSubmit)="register()">
              <div class="form-group">
                <label for="email5" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">E-mail</label>
                <input formControlName="email" type="email" class="form-control" placeholder="Nhập mail" id="email5">
              </div>
              <div class="form-group">
                <label for="password5" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Mật khẩu</label>
                <div class="position-relative">
                  <input formControlName="password" type="password" class="form-control" id="password5" placeholder="Nhập mật khẩu">
                  <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2" data-show-pass="password2"></a>
                </div>
              </div>
              <div class="form-group">
                <label for="password231" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Nhập lại mật khẩu</label>
                <div class="position-relative">
                  <input type="password" class="form-control" id="password231" placeholder="Nhập mật khẩu">
                  <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2" data-show-pass="password23"></a>
                </div>
              </div>
              <div class="or-devider">
                <span class="font-size-3 line-height-reset"><h4 style="color: green">Thông tin doanh nghiệp</h4></span>
              </div>
              <div class="form-group">
                <label for="name" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Tên doanh nghiệp</label>
                <input formControlName="name" type="text" class="form-control" placeholder="Nhập tên" id="name">
              </div>
                <div class="form-group">

                  <label for="avatar" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Ảnh đại diện</label>
                  <input formControlName="avatar" type="text" class="form-control" placeholder="Nhập ảnh đại diện" id="avatar">
                </div>
              <div class="form-group">
                <label for="address" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Địa chỉ</label>
                <input formControlName="address" type="text" class="form-control" placeholder="Nhập địa chỉ" id="address">
              </div>
              <div class="form-group">
                <label for="phoneNumber" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Số điện thoại</label>
                <input formControlName="phoneNumber" type="text" class="form-control" placeholder="Nhập số điện thoại" id="phoneNumber">
              </div>
              <div class="form-group">
                <label for="introduction" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Thông tin</label>
                <input formControlName="introduction" type="text" class="form-control" placeholder="Nhập thông tin" id="introduction">
              </div>
              <div class="form-group d-flex flex-wrap justify-content-between mb-1">
                <label for="terms-check21" class="gr-check-input d-flex  mr-3">
                  <input class="d-none" type="checkbox" id="terms-check21">
                  <span class="checkbox mr-5"></span>
                  <span class="font-size-3 mb-0 line-height-reset d-block">Agree to the <a href="" class="text-primary">Terms & Conditions</a></span>
                </label>
                <a href="" class="font-size-3 text-dodger line-height-reset">Forget Password</a>
              </div>
              <div class="form-group mb-8">
                <button class="btn btn-primary btn-medium w-100 rounded-5 text-uppercase">Sign Up </button>
              </div>
              <p class="font-size-4 text-center heading-default-color">Don’t have an account? <a href="" class="text-primary">Create a free account</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
