<br>
<br>
<br>
<br>
<div class="mb-14">
  <div class="row mb-11 align-items-center">
    <div class="col-lg-12 mb-lg-0 mb-4">
      <h3 style="text-align: center" class="font-size-6 mb-0">DANH SÁCH DOANH NGHIỆP BỊ KHÓA</h3>
    </div>
  </div>
  <div class="bg-white shadow-8 pt-7 rounded pb-8 px-11">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr style="collapse: 0;text-align: center;color: #0c1012">
          <th scope="col" class="border-0 font-size-4 font-weight-normal">#</th>
          <th scope="col" class="border-0 font-size-4 font-weight-normal">Tiêu Đề</th>
          <th scope="col" class="border-0 font-size-4 font-weight-normal">Kinh Nghiệm</th>
          <th scope="col" class="border-0 font-size-4 font-weight-normal">Lĩnh Vực</th>
          <th scope="col" class="border-0 font-size-4 font-weight-normal">Nơi Làm Việc</th>
          <th scope="col" class="border-0 font-size-4 font-weight-normal">Trạng Thái</th>
        </tr>
        </thead>
        <tbody style="text-align: center">
        <tr *ngFor="let com of cruimentnews; index as i" class="border border-color-2">
          <td class="table-y-middle py-7 min-width-px-235 pr-0">
            <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{i + 1}}</h3>
          </td>
          <td class="table-y-middle py-7 min-width-px-235 pr-0">
            <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{com.title}}</h3>
          </td>
          <td class="table-y-middle py-7 min-width-px-170 pr-0">
            <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{com.requiredExperience}}</h3>

          <td class="table-y-middle py-7 min-width-px-170 pr-0">
            <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{com.field.name}}</h3>
          </td>
          <td class="table-y-middle py-7 min-width-px-170 pr-0">
            <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{com.workingPlace}}</h3>
          </td>
          <td class="table-y-middle py-7 min-width-px-110 pr-0">
            <button class=""><a class="font-size-3 font-weight-bold text-green text-uppercase" (click)="updateStatus(com.id)">{{com.status}}</a></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="pt-2">
    </div>
  </div>
  <br>
  <div *ngIf="checkList"  class="row mb-11 align-items-center">
    <div class="col-lg-12 mb-lg-0 mb-4">
      <p style="text-align: center;color: red" class="font-size-6 mb-0">Không có dữ liệu hiển thị</p>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
