<br>
<br>
<br>
<br>
<div class="mb-14">
  <div class="row mb-11 align-items-center">
    <div class="col-lg-12 mb-lg-0 mb-4">
      <h3 style="text-align: center" class="font-size-4 mb-0">DANH SÁCH DOANH NGHIỆP BỊ KHÓA</h3>
    </div>
  </div>
  <div class="bg-white shadow-8 pt-7 rounded pb-8 px-11">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr style="collapse: 0">
          <th scope="col" class="border-0 font-size-4 font-weight-normal">Tên doanh nghiệp</th>
          <th scope="col" class="border-0 font-size-4 font-weight-normal">Địa chỉ</th>
          <th scope="col" class="border-0 font-size-4 font-weight-normal">Số điện thoại</th>
          <th scope="col" class="border-0 font-size-4 font-weight-normal">Giới thiệu</th>
          <th scope="col" class="border-0 font-size-4 font-weight-normal">Trạng thái</th>
        </tr>
        </thead>
        <tbody >
        <tr *ngFor="let com of companies" class="border border-color-2">
          <th scope="row" class="pl-6 border-0 py-7 pr-0">
            <a href="candidate-profile.html" class="media min-width-px-235 align-items-center">
              <div class="circle-36 mr-6">
                <img src="{{com.avatar}}" alt="" class="w-100" />
              </div>
              <h3 class="font-size-4 mb-0 font-weight-semibold text-black-2">{{com.name}}</h3>
            </a>
          </th>
          <td class="table-y-middle py-7 min-width-px-235 pr-0">
            <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{com.address}}</h3>
          </td>
          <td class="table-y-middle py-7 min-width-px-170 pr-0">
            <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{com.phoneNumber}}</h3>
          </td>
          <td class="table-y-middle py-7 min-width-px-170 pr-0">
            <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{com.introduction}}</h3>
          </td>
          <td class="table-y-middle py-7 min-width-px-110 pr-0">
            <button class=""><a class="font-size-3 font-weight-bold text-green text-uppercase" (click)="updateStatus(com.id)">{{com.status}}</a></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="pt-2">
<!--      <nav aria-label="Page navigation example">-->
<!--        <ul class="pagination pagination-hover-primary rounded-0 ml-n2">-->
<!--          <li class="page-item rounded-0 flex-all-center">-->
<!--            <a class="page-link rounded-0 border-0 px-3active" href="#" aria-label="Previous">-->
<!--              <i class="fas fa-chevron-left"></i>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="page-item"><a class="page-link border-0 font-size-4 font-weight-semibold px-3" href="#">1</a></li>-->
<!--          <li class="page-item"><a class="page-link border-0 font-size-4 font-weight-semibold px-3" href="#">2</a></li>-->
<!--          <li class="page-item"><a class="page-link border-0 font-size-4 font-weight-semibold px-3" href="#">3</a></li>-->
<!--          <li class="page-item disabled"><a class="page-link border-0 font-size-4 font-weight-semibold px-3" href="#">...</a></li>-->
<!--          <li class="page-item "><a class="page-link border-0 font-size-4 font-weight-semibold px-3" href="#">7</a></li>-->
<!--          <li class="page-item rounded-0 flex-all-center">-->
<!--            <a class="page-link rounded-0 border-0 px-3" href="#" aria-label="Next">-->
<!--              <i class="fas fa-chevron-right"></i>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </nav>-->
    </div>
  </div>
</div>
