<!-- Main Content Start -->
<div class="bg-default-1 pt-26 pt-lg-28 pb-13 pb-lg-25">
  <div class="container">
    <div class="row">

      <!-- Main Body -->
      <div class="col-12 col-xl-2 col-lg-2"></div>
      <div class="col-12 col-xl-8 col-lg-8">
        <!-- form -->
        <form action="/" class="search-form" [formGroup]="searchForm" (ngSubmit)="findByTitleWorkingPlaceExperience()">
          <div class="filter-search-form-2 search-1-adjustment bg-white rounded-sm shadow-7 pr-6 py-6 pl-6">
            <div class="filter-inputs">
              <div class="form-group position-relative w-lg-45 w-xl-40 w-xxl-45">
                <input class="form-control focus-reset pl-13" type="text" id="title" placeholder="Tên tiêu đề"
                       formControlName="title">
                <span class="h-100 w-px-50 pos-abs-tl d-flex align-items-center justify-content-center font-size-6">
                                        <i class="fa-solid fa-magnifying-glass" style="color: #62AE77"></i>
                  </span>
              </div>
              <!-- .select-city starts -->
              <div class="form-group position-relative w-lg-55 w-xl-60 w-xxl-55">
                <select name="country" id="country" class="nice-select font-size-4 pl-13 h-100 arrow-3"
                        formControlName="cities">
                  <option data-display="City, state, zip code or (Remote)">Chọn Thành Phố...</option>
                  <option data-display="City, state, zip code or (Remote)"
                          *ngFor="let city of cities">{{city.name}} </option>
                </select>
                <span class="h-100 w-px-50 pos-abs-tl d-flex align-items-center justify-content-center font-size-6">
                                        <i class="fa-solid fa-location-dot" style="color: #62AE77"></i>
                  </span>
              </div>
              <!-- ./select-city ends -->
            </div>
            <div class="button-block">
              <button class="btn btn-primary line-height-reset h-100 btn-submit w-100 text-uppercase">Tìm Kiếm</button>
            </div>
          </div>
        </form>

        <div class="pt-12">
          <div class="d-flex align-items-center justify-content-between mb-6">
            <h5 style="text-align: center" class="font-size-4 font-weight-normal text-gray">
              <h3 style="text-align: center" class="heading-default-color">Danh Sách Tin Tuyển Dụng</h3>
            </h5>
          </div>

          <div class="mb-8" *ngFor="let recruitment of recruitmentNews; index as i">
            <!-- Single Featured Job -->
            <div class="pt-9 px-xl-9 px-lg-7 px-7 pb-7 light-mode-texts bg-white rounded hover-shadow-3 ">
              <div class="row">
                <div class="col-md-6">
                  <div class="media align-items-center">
                    <div class="square-72 d-block mr-8">
                      <img src="https://finestdevs.com/demos/jobcamp/./image/l2/png/featured-job-logo-1.png" alt="">
                    </div>
                    <div>
                      <h3 class="mb-0"><a class="font-size-6 heading-default-color"
                                          routerLink="/company/recruitment/detail/{{recruitment.id}}">{{recruitment.title}}</a>
                      </h3>
                      <a href="#" class="font-size-3 text-default-color line-height-2">{{recruitment.company.name}}</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 text-right pt-7 pt-md-5">
                  <div class="media justify-content-md-end">
                    <div class="image mr-5 mt-2">
                    </div>
                    <p class="font-weight-bold font-size-7 text-hit-gray mb-0">
                      <span class="text-black-2">{{recruitment.salaryFrom}}-{{recruitment.salaryTo}}</span> Triệu VNĐ
                    </p>
                  </div>
                </div>
              </div>
              <div class="row pt-8">
                <div class="col-md-7">
                  <ul class="d-flex list-unstyled mr-n3 flex-wrap">
                    <li>
                      <span
                        class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2"
                        href="#">Lĩnh Vực: {{recruitment.field.name}}</span>
                    </li>
                    <li>
                      <span
                        class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2"
                        href="#">Kinh Nghiệm: {{recruitment.requiredExperience}} Năm</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-5">
                  <ul class="d-flex list-unstyled mr-n3 flex-wrap mr-n8 justify-content-md-end">
                    <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                      <span class="mr-4" style="margin-top: -2px"><img
                        src="https://finestdevs.com/demos/jobcamp/./image/svg/icon-loaction-pin-black.svg"
                        alt=""></span>
                      <span class="font-weight-semibold">{{recruitment.workingPlace}}</span>
                    </li>
                    <!--                    <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">-->
                    <!--                      <span class="mr-4" style="margin-top: -2px"><img src="https://finestdevs.com/demos/jobcamp/./image/svg/icon-suitecase.svg" alt=""></span>-->
                    <!--                      <span class="font-weight-semibold">{{recruitment.workingType}}</span>-->
                    <!--                    </li>-->
                    <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                      <span class="mr-4" style="margin-top: -2px"><img
                        src="https://finestdevs.com/demos/jobcamp/./image/svg/icon-clock.svg" alt=""></span>
                      <span class="font-weight-semibold">Hết Hạn: {{recruitment.expiredDate}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End Single Featured Job -->
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-2 col-lg-2"></div>
    </div>
  </div>
  <!-- Main Content end -->
</div>
