<footer class="footer bg-ebony-clay dark-mode-texts">
  <div class="container">
    <!-- Cta section -->
    <!--      <div class="pt-11 pt-lg-20 pb-13 pb-lg-20 border-bottom border-width-1 border-default-color-2">-->
    <!--        <div class="row justify-content-center ">-->
    <!--          <div class="col-xl-7 col-lg-12" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">-->
    <!--            &lt;!&ndash; cta-content start &ndash;&gt;-->
    <!--            <div class="pb-xl-0 pb-9 text-xl-left text-center">-->
    <!--              <h2 class="text-white font-size-8 mb-4">Most comprehensive job portal</h2>-->
    <!--              <p class="text-hit-gray font-size-5 mb-0">We must explain to you how all this mistaken idea of-->
    <!--                denouncing</p>-->
    <!--            </div>-->
    <!--            &lt;!&ndash; cta-content end &ndash;&gt;-->
    <!--          </div>-->
    <!--          <div class="col-xl-5 col-lg-12" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">-->
    <!--            &lt;!&ndash; cta-btns start &ndash;&gt;-->
    <!--            <div-->
    <!--              class="btns d-flex justify-content-xl-end justify-content-center align-items-xl-center flex-wrap h-100  mx-n4">-->
    <!--              <a class="btn btn-outline-gallery btn-xl mx-4 mt-6 text-uppercase" href="#" data-toggle="modal"-->
    <!--                 data-target="#login">Log in</a>-->
    <!--              <a class="btn btn-green btn-h-60 btn-xl mx-4 mt-6 text-uppercase" href="#" data-toggle="modal"-->
    <!--                 data-target="#signup">Register</a>-->
    <!--            </div>-->
    <!--            &lt;!&ndash; cta-btns end &ndash;&gt;-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
  </div>
  <div class="container  pt-12 pt-lg-19 pb-10 pb-lg-19">
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-lg-0 mb-9">
        <!-- footer logo start -->
        <img src="image/logo-main-white.png" alt="" class="footer-logo mb-14">
        <!-- footer logo End -->
        <!-- media start -->
        <div class="media mb-11">
          <img src="image/l1/png/message.png" class="align-self-center mr-3" alt="">
          <div class="media-body pl-5">
            <p class="mb-0 font-size-4 text-white">Liên hệ với chúng tôi</p>
            <a class="mb-0 font-size-4 font-weight-bold" href="mailto:support@uxtheme.net">support@uxtheme.net</a>
          </div>
        </div>
        <!-- media start -->
        <!-- widget social icon start -->
        <div class="social-icons">
          <ul class="pl-0 list-unstyled d-flex align-items-end ">
            <li class="d-flex flex-column justify-content-center px-3 mr-3 font-size-4 heading-default-color">Follow
              chúng tôi tại:
            </li>
            <li class="d-flex flex-column justify-content-center px-3 mr-3"><a href="#"
                                                                               class="hover-color-primary heading-default-color"><i
              class="fab fa-facebook-f font-size-3 pt-2"></i></a></li>
            <li class="d-flex flex-column justify-content-center px-3 mr-3"><a href="#"
                                                                               class="hover-color-primary heading-default-color"><i
              class="fab fa-twitter font-size-3 pt-2"></i></a></li>
            <li class="d-flex flex-column justify-content-center px-3 mr-3"><a href="#"
                                                                               class="hover-color-primary heading-default-color"><i
              class="fab fa-linkedin-in font-size-3 pt-2"></i></a></li>
          </ul>
        </div>
        <!-- widget social icon end -->
      </div>
      <div class="col-lg-8 col-md-6">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
            <div class="footer-widget widget2 mb-md-0 mb-13">
              <!-- footer widget title start -->
              <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Công ty</p>
              <!-- footer widget title end -->
              <!-- widget social menu start -->
              <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal">Về chúng tôi</a>
                </li>
                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal">Liên hệ
                  </a></li>
                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal">Sự nghiệp</a>
                </li>
              </ul>
              <!-- widget social menu end -->
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
            <div class="footer-widget widget3 mb-sm-0 mb-13">
              <!-- footer widget title start -->
              <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Sản phẩm</p>
              <!-- footer widget title end -->
              <!-- widget social menu start -->
              <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal">Nổi bật </a>
                </li>
                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal">Bản tin</a></li>
                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal">Hỗ trợ</a>
                </li>
              </ul>
              <!-- widget social menu end -->
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
            <div class="footer-widget widget4 mb-sm-0 mb-13">
              <!-- footer widget title start -->
              <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Dịch vụ</p>
              <!-- footer widget title end -->
              <!-- widget social menu start -->
              <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal">Tiếp thị kỹ thuật số
                </a></li>
                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal">Thiết kế</a>
                </li>
              </ul>
              <!-- widget social menu end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
