<!-- Main Content Start -->
<div class="bg-default-1 pt-26 pt-lg-28 pb-13 pb-lg-25">
    <div class="container">
        <div class="row">
            <div class="pt-12">
                <div class=" justify-content-between mb-12">
                    <h5 style="text-align: center" class="font-size-4 font-weight-normal text-gray">
                        <h4 style="text-align: center" class="heading-default-color">DANH SÁCH CÁC CÔNG TY NỔI BẬT</h4>
                    </h5>
                </div>

                <div class="pt-12 ml-lg-0 ml-md-15">
                    <div class="pt-6">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-4 col-md-6 px-xxl-7" data-aos="fade-up" data-aos-duration="800"
                                 data-aos-once="true"
                                 *ngFor="let c of companies">
                                <!-- Start Feature One -->
                                <div class="bg-white px-8 pt-9 pb-7 rounded-4 mb-9 feature-cardOne-adjustments">
                                    <div class="d-block mb-7">
                                        <a href="#"><img src="{{c.avatar}}" alt="" style="width: 337px; height: 270px"></a>
                                    </div>
                                    <h2 class="mt-n4"><a class="font-size-3 text-black-2 font-weight-bold mb-4"
                                                         routerLink="/guest/company/detail/{{c.id}}">{{c.name}}</a></h2>
                                    <ul class="list-unstyled mb-1 card-tag-list">
                                        <li><a  class="bg-regent-opacity-15 text-denim font-size-3 rounded-3">
                                            <i class="icon icon-pin-3 mr-2 font-weight-bold"></i> {{c.address}}
                                        </a></li>
                                        <li><a  class="bg-regent-opacity-15 text-denim font-size-3 rounded-3">
                                            <i class="fa fa-briefcase mr-2 font-weight-bold"></i> {{c.email}}
                                        </a></li>
                                    </ul>
                                    <!--          <p class="mb-7 font-size-4 text-gray">{{c.introduction}}</p>-->
                                    <!--                  <div  class="card-btn" style="text-align: center">-->
                                    <!--                    <a class="btn btn-green text-uppercase rounded-3" routerLink="/guest/company/detail/{{c.id}}">Xem-->
                                    <!--                      chi tiết</a>-->
                                    <!--                  </div>-->
                                </div>
                                <!-- End Feature One -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


