<br>
<br>
<br>
<br>
<div class="mb-14">
  <div class="row mb-11 align-items-center">
    <div class="col-lg-12 mb-lg-0 mb-4">
      <h3 style="text-align: center" class="font-size-4 mb-0">DANH SÁCH DOANH NGHIỆP ĐANG HOẠT ĐỘNG</h3>
    </div>
  </div>
  <div class="bg-white shadow-8 pt-7 rounded pb-8 px-11">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr style="collapse: 0">
          <th scope="col" class="border-0 font-size-4 font-weight-normal">#</th>
          <th scope="col" class="border-0 font-size-4 font-weight-normal">Tiêu đề</th>
          <th scope="col" class="border-0 font-size-4 font-weight-normal">Công ty</th>
          <th scope="col" class="border-0 font-size-4 font-weight-normal">Lĩnh vực</th>
          <th scope="col" class="border-0 font-size-4 font-weight-normal">Nơi làm việc</th>
          <th scope="col" class="border-0 font-size-4 font-weight-normal">Trạng thái</th>
          <th scope="col" class="border-0 font-size-4 font-weight-normal">Đề xuất</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let r of recruimentNews; index as i" class="border border-color-2">
          <td class="table-y-middle py-7 min-width-px-50 pr-0">
            <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{i+1}}</h3>
          </td>
          <td scope="row" class="pl-6 border-0 py-7 pr-0"><a>
            <h3 class="font-size-4 mb-0 font-weight-semibold text-black-2">{{r.title}}</h3>
          </a>
          </td>
          <td class="table-y-middle py-7 min-width-px-235 pr-0">
            <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{r.company.name}}</h3>
          </td>
          <td class="table-y-middle py-7 min-width-px-170 pr-0">
            <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{r.field.name}}</h3>
          </td>
          <td class="table-y-middle py-7 min-width-px-170 pr-0">
            <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{r.workingPlace}}</h3>
          </td>
          <td class="table-y-middle py-7 min-width-px-110 pr-0">
            <button class=""><a class="font-size-3 font-weight-bold text-green text-uppercase"
                                (click)="updateStatus(r.id)">{{r.status}}</a></button>
          </td>
          <td class="table-y-middle py-7 min-width-px-110 pr-0">
            <button class=""><a class="font-size-3 font-weight-bold text-green text-uppercase"
                                (click)="proposed(r.id)">{{r.proposed}}</a></button>
          </td>
        </tr>
        </tbody>
      </table>
      <mat-paginator [pageSizeOptions]="[5,15,30,90]" [length]="totalElements"
                     (page)="nextPage($event)"></mat-paginator>
    </div>
    <div class="pt-2">
    </div>
  </div>
</div>
